//create bot
$create_button_color: green;
$create_button_text_color: white;
$create_button_border_color: green;
$create_button_hover_color: #025502;

//delete bot
$delete_button_color: crimson;
$delete_button_text_color: white;
$delete_button_border_color: crimson;
$delete_button_hover_color: #a30d0d;

//save bot
$save_button_color: green;
$save_button_text_color: white;
$save_button_border_color: green;
$save_button_hover_color: #025502;

//choice image
$file_button_color: blue;
$file_button_text_color: white;
$file_button_border_color: blue;
$file_button_hover_color: #0a0ad9;

//remove image
$remove_image_button_color: crimson;
$remove_image_button_text_color: white;
$remove_image_button_border_color: crimson;
$remove_image_button_hover_color: #a30d0d;
