//buton
$delete_button_color: crimson;
$delete_button_border_color: crimson;


@mixin delete_button{
  border: 0.1em solid $delete_button_border_color;
  border-radius: 0.5em;
  background-color: $delete_button_color;
  user-select: none;
  cursor: pointer;
}