
@mixin font_rule {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  background: white;
  font-size: $document_font_size;
}

@mixin centryfy_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}


@mixin mQ($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

@mixin print(){
  @media print {
    @content
  }
}
