//document font
$document_font_size: 1vmax;

//monitor size
$tablet: "880px";
$desctop: "1024px";


//modalForm
$modal_form_background_color: rgba(128, 128, 128, 0.78);
$form_background_color: white;
$form_border_color: #e7e1e1;